* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr;
  min-height: 100vh;
  justify-content: center;
}

.main {

  background-color: red;
}

.left-bar {
  grid-column: 2 / 3;
  padding: 1rem 0;
  background-color: aquamarine;
  display: grid;
  justify-content: center;
  grid-template-rows: auto auto 1fr;
  row-gap: 1rem;
}

.fotop {
  grid-row: 1 / 2;
  width: 200px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.icons {
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
}

.leftnav {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.leftnav li {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  list-style: none;
}

.leftnav li:hover {
  background-color: rgb(37, 57, 240);
}